{% set article_show = path('article_show', {'slug': article.slug }) %}

<article class="mb-5 ">
    <div class="row element_article">
        <div class="col-md-7">
            {% if article.featuredImage %}
                <a href="{{ article_show }}">
                    <img src="/uploads/{{ article.featuredImage.filename }}" alt="{{ article.featuredImage.altText }}" loading="lazy" width="550" height="405" >
                </a>
            {% endif %}
        </div>
        <div class="col-md-7">
            <h2 class="article-title">
                <a href="{{ article_show }}"  class="text-decoration-none">{{ article.title }}</a>
            </h2>
            <p>
                {{ article.createdAt|date('d M Y') }} 

            </p>
            {{ article.featuredText ?: article.content|striptags|slice(0, 130) ~ '...' }}
        </div>
    </div>
</article>